@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

p {
    font-size: 16px;
}

:root {
    --light-red: rgba(255, 87, 87, 0.126);
    --orangey-yellow: rgb(255, 176, 31, 0.126);
    --green-teal: rgb(0, 189, 145, 0.126);
    --cobalt-blue: rgb(17, 37, 212, 0.126);

    /*Gradientes*/
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);   
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /*Neutras*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}
    


/*@media (max-width: 875px)*/
    body {
        background-color: var(--Light-lavender);
        display: flex;
    }
    
    main {
        background-color: var(--White);
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;

    }

    #results {
        background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        display: flex;
        width: 300px;
        height: 320px;
        padding: 10px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    #results > p, #results > div > p {
        color: var(--Light-lavender);
        text-align: center;
    }

    #circle {
        background-image: linear-gradient(to top, hsla(241, 72%, 46%, 0), hsla(256, 72%, 46%, 1));
        padding: 25px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        text-align: center;
        align-items: center;
    }

    #circle > h1 {
        color: var(--White);
        font-size: 3em;
    }

    #circle > p {
        font-size: 14px;
    }

    #results > h3 {
        color: var(--White);
    }

    #summary {
        background-color: var(--White);
        display: flex;
        width: 350px;
        height: 500px;
        padding: 20px 30px 0px 30px;
        flex-direction: column;


    }
    
    #summary > h3 {
        font-size: 18px;
        margin-bottom: 8px;
    
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .item img {
        margin-right: 10px;
    }

    .item .rotulo {
        flex-grow: 1;
        font-size: 16px;
        font-weight: bold;
    }

    #item1 {
        background-color: var(--light-red);
    }

    #item2 {
        background-color: var(--orangey-yellow);
    }

    #item3 {
        background-color: var(--green-teal);
    }

    #item4 {
        background-color: var(--Pale-blue);
    }

    .botaocont {
        display: flex;
        background-color: var(--Dark-gray-blue);
        color: white;
        font-weight: 500;
        height: 50px;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        align-self: center;
        width: 100%;

        
    }

    .botaocont:hover {
        background-color: var(--Violet-blue);
        width: 95%;
        transition: 0.3s;
    }



@media (min-width: 376px) {

    body {
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    main {
        background-color: red;
        flex-direction: row;
        width: 650px;
        height: 400px;
    }

    


}
